doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')

    title Tracing Store

    if env == 'local'
      // bower:css
      link(rel='stylesheet', href='bower/angular-material/angular-material.css')
      link(rel='stylesheet', href='bower/angular-material-icons/angular-material-icons.css')
      // endbower
    else
      link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.6/angular-material.min.css')

    link(rel='stylesheet', href='css/index.css')
    link(rel='stylesheet', href='css/pace.css')

  body
    md-toolbar.md-toolbar-tools.md-accent
      span
        a(href="/") Tracing Store
      // fill up the space between left and right area
      span(flex='')

    block content

    script(src='js/pace.js')

    if env == 'local'
      // bower:js
      script(src='bower/angular/angular.js')
      script(src='bower/angular-animate/angular-animate.js')
      script(src='bower/angular-aria/angular-aria.js')
      script(src='bower/angular-messages/angular-messages.js')
      script(src='bower/angular-material/angular-material.js')
      script(src='bower/angular-route/angular-route.js')
      script(src='bower/angular-material-icons/angular-material-icons.min.js')
      script(src='bower/d3/d3.js')
      // endbower
    else
      script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.2/angular.min.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.2/angular-animate.min.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.2/angular-aria.min.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.2/angular-messages.min.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.6/angular-material.min.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.2/angular-route.min.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.7.0/angular-material-icons.min.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.min.js')

    // TODO: separate bundle of our npm dependencies
    // script(src='/js/vendor.js')

    // bundle application logic
    script(src='/js/bundle.js')
